<div id="fondoR" [style.background-image]="'url(assets/fondoR.png)'">
  <div id="homeImg" [style.background-image]="'url(assets/home.png)'"></div>
</div>

<div id="description" class="text-white">
  <div class="container text-center">
    <h1>ABOUT US</h1>
    <p>Since 2012 bringing the best of Asian cuisine to your table, serving delicious dinners that do not
      have preservatives or artificial flavorings, and that have allowed us to grow together with a
      base of followers of Asian food made with fresh ingredients
    </p>
  </div>
</div>

<div id="stickImg" [style.background-image]="'url(assets/fondo2.jpg)'" class="text-center">
  <div>
    <p>
      Our team of great chefs uses the most recognized and delicious ingredients of Asian
      food (rice, miso paste, noodles, fish, tofu) but they also make new cuisine preparations,
      based on new preparation techniques, to give a different flavor. and a perfect feeling
    </p>
  </div>
</div>


<div [style.background-image]="'url(assets/menuback.png)'" id="homeMenu" class="justify-content-center row m-0">
 <div id="menuTitle" class="text-center mt-4">
   <h2 ><u>Our Menu</u></h2>
   <h4>Good Service and Better Food</h4>
 </div>
  <div class="card col-12 col-lg-2 menu shadow">
   <div class="card-header menu">
     <img style="width: 100px" src="assets/menu1.png">
   </div>
   <div class="card-body">
    <p>Fish Balls are very popular in Asia. Mainly they are eaten on their own, marinated,
      dipped in a sauce or when coming in a bowl mixed with ‘kway teow’ noodles, tofu or even rice.</p>
   </div>
 </div>

  <div class="card col-12 col-lg-2 menu shadow">
    <div class="card-header menu">
      <img style="width: 100px" src="assets/menu2.png">
    </div>
    <div class="card-body">
      <p>Satay is the undisputed King or Queen of Asian Foods. meat on a stick roasted over charcoal,
        peanut sauce, chopped onions, cucumber or other veggies as well.</p>
    </div>
  </div>

  <div class="card col-12 col-lg-2 menu shadow">
    <div class="card-header menu">
      <img style="width: 100px" src="assets/menu3.png">
    </div>
    <div class="card-body">
      <p>Chicken curry, an exotic recipe that takes us to other places like India. With wild rice,
        whose dark color contrasts perfectly with the yellows of the curry. A very complete dish
        that the whole family will like.</p>
    </div>
  </div>

  <div class="card col-12 col-lg-2 menu shadow">
    <div class="card-header menu">
      <img style="width: 100px" src="assets/menu3.png">
    </div>
    <div class="card-body">
      <p> Spring Rolls, there are many versions of this delicious frying. We have filled
        them with vegetables and added soy noodles. Although other
        ingredients can be used, the combinations are almost endless.</p>
    </div>
  </div>
  <div class="text-center col-12 mb-3">
    <a href="menu" class="btn btn-danger p-3 fs-4">View Menu</a>
  </div>
</div>

<div class="row justify-content-center" style="background-color: whitesmoke;">
  <div class="text-center mt-5"><h2 id="reviews">Rating & Reviews</h2></div>
  <div class="text-center"><h4 id="reviews2">Latest Testimonials</h4></div>

  <div class="col-11 col-lg-3 card shadow">
    <p-rating style="margin: 30px" [ngModel]="4" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
    <h2>A GOOD MIX OF FLAVORS
    </h2>
    <p>Delicious oriental food, an exquisite variety of dishes for all tastes. It is a beautiful restaurant in structure, good service and speed. I highly recommend it.
    </p>
    <div class="card-footer">
      <b>-Sherlyn Julissa</b>
    </div>
  </div>

  <div class="col-11 col-lg-3 card shadow">
    <p-rating style="margin: 30px" [ngModel]="5" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
    <h2>GOOD FOOD, GOOD PRICE</h2>
    <p>It became one of my favorite restaurants, I love the presentation of all the dishes and the seasoning of them, all the dishes that I tried are exquisite.
    </p>
    <div class="card-footer">
      <b>-Kiara Bonham</b>
    </div>
  </div>

  <div class="col-11 col-lg-3 card shadow">
    <p-rating style="margin: 30px" [ngModel]="5" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
    <h2>EXQUISITE DINNER WITH FRIENDS</h2>
    <p>We arrived after a long day at the French embassy, it was a good experience with the service and the food was excellent, we had satay and chicken. Recommended
    </p>
    <div class="card-footer">
      <b>-Izan Yarely</b>
    </div>
  </div>
</div>

