<div id="fondoR" [style.background-image]="'url(assets/fondoR.png)'">
  <div id="homeImg" [style.background-image]="'url(assets/home.png)'"></div>
</div>

<div id="description" class="text-center text-white">
  <div>
    <h1>asdasdasd</h1>
    <p>Desde 2012 llevando lo mejor de la cocina asiatica a tu mesa, sirviendo platos deliciosos, que no
      tienen conservantes ni saborisantes antifisiales, y que nos han permitido crecer junto a una base
      de seguidores de la comida asiatica hecha con ingredientes frescos
  </div>
</div>

<div id="stickImg" [style.background-image]="'url(assets/fondo2.jpg)'">

</div>

<div class="vh-100">
  asd
</div>
