<div id="fondoR" [style.background-image]="'url(assets/fondoR.png)'">
  <div id="homeImg" [style.background-image]="'url(assets/home.png)'"></div>
</div>

<div id="description" class="text-white">
  <div class="container text-center">
    <h1>asdasdasd</h1>
    <p>Desde 2012 llevando lo mejor de la cocina asiatica a tu mesa, sirviendo platos deliciosos, que no
      tienen conservantes ni saborisantes antifisiales, y que nos han permitido crecer junto a una base
      de seguidores de la comida asiatica hecha con ingredientes frescos
  </div>
</div>

<div id="stickImg" [style.background-image]="'url(assets/fondo2.jpg)'" class="text-center">
  <div>
    <p>
    Nuestro equipo de grandes cocineros utiliza los ingredientes mas reconocidos y deliciosos
    de la comida asiatica (arroz, pasta de miso, fideos, pescado, tofu) pero también realizan preparaciones
    de la nueva cocina, basadas en nuevas tecnicas de preparaciones, para dar un sabor diferente y una
    sensación perfecta
    </p>
  </div>
</div>


<div [style.background-image]="'url(assets/menuback.png)'" id="homeMenu" class="justify-content-center row m-0">
 <div id="menuTitle" class="text-center mt-4">
   <h2 ><u>Our Menu</u></h2>
   <h4>Good Service and Better Food</h4>
 </div>
  <div class="card col-12 col-lg-2 menu shadow">
   <div class="card-header menu">
     <img style="width: 100px" src="assets/menu2.png">
   </div>
   <div class="card-body">
    <p>El Roti canai en un plato de origen hindú, pero se ha hecho famoso y típico en Malasia.
      El mismo consiste en un tipo de pan plano circular que, en su forma ideal es esponjoso por
      dentro y crujiente.</p>
   </div>
 </div>

  <div class="card col-12 col-lg-2 menu shadow">
    <div class="card-header menu">
      <img style="width: 100px" src="assets/menu2.png">
    </div>
    <div class="card-body">
      <p>El Roti canai en un plato de origen hindú, pero se ha hecho famoso y típico en Malasia.
        El mismo consiste en un tipo de pan plano circular que, en su forma ideal es esponjoso por
        dentro y crujiente.</p>
    </div>
  </div>

  <div class="card col-12 col-lg-2 menu shadow">
    <div class="card-header menu">
      <img style="width: 100px" src="assets/menu2.png">
    </div>
    <div class="card-body">
      <p>El Roti canai en un plato de origen hindú, pero se ha hecho famoso y típico en Malasia.
        El mismo consiste en un tipo de pan plano circular que, en su forma ideal es esponjoso por
        dentro y crujiente.</p>
    </div>
  </div>

  <div class="card col-12 col-lg-2 menu shadow">
    <div class="card-header menu">
      <img style="width: 100px" src="assets/menu4.png">
    </div>
    <div>
      <p>
        La Tempura fue introducida por los portugueses en Japón en el siglo XVI, siendo muy popular en
        nuestros días y se refiere a la fritura rápida típica japonesa, en especial a los mariscos y
        verduras que se fríen en aceite a 180 ℃ durante dos o tres minutos.
      </p>
    </div>
  </div>
  <div class="text-center col-12 mb-3">
    <a href="menu" class="btn btn-danger p-3 fs-4">View Menu</a>
  </div>
</div>

<div class="row justify-content-center" style="background-color: whitesmoke;">
  <div class="text-center mt-5"><h2 id="reviews">Rating & Reviews</h2></div>
  <div class="text-center"><h4 id="reviews2">Latest Testimonials</h4></div>

  <div class="col-11 col-lg-3 card shadow">
    <p-rating style="margin: 30px" [ngModel]="4" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
    <h2>THE DOOD WAS SO GOOD</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam distinctio
      enim est hic nisi quisquam. Aperiam cum eius error natus, officiis reiciendis.
      Consequuntur dolor doloremque ducimus iusto quisquam tenetur voluptatibus.</p>
    <div class="card-footer">
      <b>-Margaret Bonham</b>
    </div>
  </div>

  <div class="col-11 col-lg-3 card shadow">
    <p-rating style="margin: 30px" [ngModel]="5" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
    <h2>THE DOOD WAS SO GOOD</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam distinctio
      enim est hic nisi quisquam. Aperiam cum eius error natus, officiis reiciendis.
      Consequuntur dolor doloremque ducimus iusto quisquam tenetur voluptatibus.</p>
    <div class="card-footer">
      <b>-Margaret Bonham</b>
    </div>
  </div>

  <div class="col-11 col-lg-3 card shadow">
    <p-rating style="margin: 30px" [ngModel]="5" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
    <h2>THE DOOD WAS SO GOOD</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam distinctio
      enim est hic nisi quisquam. Aperiam cum eius error natus, officiis reiciendis.
      Consequuntur dolor doloremque ducimus iusto quisquam tenetur voluptatibus.</p>
    <div class="card-footer">
      <b>-Margaret Bonham</b>
    </div>
  </div>
</div>

