.container-fluid{
  margin-top: 14px;
  display: inline-grid;
  justify-content: center;
}
ul > li {
  font-weight: 700;
  margin-inline: 2rem;
}
#orderBtn{
  font-weight: 700;
}
#orderBtn:hover{
  color: white;
}
ul > li > a:hover{
  color: darkorange;
}
