<nav class="navbar navbar-expand-lg navbar-light bg-light shadow pb-4 text-center fixed-top">
  <div class="container-fluid text-center">
    <a class="navbar-brand" href="#"><img class="navbar-brand" src="assets/title.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="location">LOCATION</a>
        </li>
        <img id="pcImg" style="width: 7rem" src="assets/title.png">
        <li class="nav-item">
          <a class="nav-link active" href="menu">MENU</a>
        </li>
        <li class="nav-item">
          <a id="orderBtn" class="btn btn-outline-dark" href="/order">ORDER NOW</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
