<div class="row m-0 pt-5">
  <div class="col-12 col-lg-5">
    <div id="contactCard" class="text-center">
      <p-card header="CONTACT US">
        <div>
          <i class="pi pi-phone mx-2 mb-3"></i> <span> Phone: (718) 533-3888</span>
        </div>
        <div>
          <i class="pi pi-envelope mx-2 mb-3"></i> <span> Email: cfgdeli@gourmet.com</span>
        </div>
        <p class="mx-2">Sun - Thurs: 11:00am-10:30pm</p>
        <p class="mx-2">Fri & Sat: 11:00am-11:00pm</p>
        <p>Visit us and experience for yourself our service and our flavors, we are located
          in the center of Oklahoma, we are still waiting for you to make you happy</p>
      </p-card>
    </div>
  </div>
  <div class="col-12 col-lg-7">
    <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d12991.856279423664!2d-97.50327477007248!3d35.505166660718764!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x87b2175e3393f43f%3A0xf1ba1e6d91181032!2s3421%20N%20Lincoln%20Blvd%2C%20Oklahoma%20City%2C%20OK%2073105%2C%20USA!3m2!1d35.504386499999995!2d-97.5039973!5e0!3m2!1sen!2sco!4v1629399466997!5m2!1sen!2sco" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>
